<aside>
  <div class="aside-content">
  
      <div class="intro">
        THIS IS...
        <a href="{{ site.baseurl }}/feed.xml" class="rss">
          <i class="fa fa-rss"></i>
        </a>
      </div>
      
      <ul class="name-and-social-brief">
        <li>
          <h1><a href="{{ site.baseurl }}/">paolo c.</a></h1></li><li class="social-icon first">
          <a href="https://github.com/nimiq/"><img src="{{ site.baseurl }}/assets/img/social/github.png" alt="Follow me on GitHub"></a>
        </li>
        
        <li class="social-icon">
          <a href="http://www.linkedin.com/in/pcoffetti"><img src="{{ site.baseurl }}/assets/img/social/linkedin.png" alt="  Connect with me on LinkedIN"></a>
        </li>
        
        <li class="social-icon">
          <div class="envelop-tooltip-brief" onmouseover="mouseOverEnvelop(this)"><img src="{{ site.baseurl }}/assets/img/social/envelop.png" alt="My email address"><span class="text empty"><noscript>Javascript required!</noscript></span></div>
        </li>
        
      </ul>

      <p class="description">
        Software engineer.
        <a href="https://www.python.org/">Python</a> enthusiast,
        <a href="https://www.djangoproject.com/">Django</a> lover, 
        <a href="http://en.wikipedia.org/wiki/Free_and_open-source_software">FOSS</a> contributor and
        Google <a href="https://www.google-melange.com/gsoc/project/details/google/gsoc2014/nimiq/5766466041282560">GSoC participant</a>.
        Digital privacy paranoid.
        And much <a href="{{ site.baseurl }}/about/">more...</a>
      </p>

      <ul class="social">
        <li>
          <a href="https://github.com/nimiq/">
            <img src="{{ site.baseurl }}/assets/img/social/github.png" alt="Follow me on GitHub">
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/pcoffetti">
            <img src="{{ site.baseurl }}/assets/img/social/linkedin.png" alt="Connect with me on LinkedIN">
          </a>
        </li>
        <li>
          <div class="envelop-tooltip" onmouseover="mouseOverEnvelop(this)">
            <img src="{{ site.baseurl }}/assets/img/social/envelop.png" alt="My email address">
            <span class="text empty"><noscript>Javascript required!</noscript></span>
          </div>
        </li>
      </ul>

      <div class="posts-and-projects-brief">
          <a href="{{ site.baseurl }}/posts/" class="left">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
              </span>posts</a>
              
          <a href="{{ site.baseurl }}/projects/" class="left">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
              </span>projects</a>
      </div>

      <!-- Posts -->
      <div class="posts">
        <h2><a href="{{ site.baseurl }}/posts/">posts</a></h2>

        <h3><i class="fa fa-clock-o"></i> 2014</h3>
        {% for post in site.posts limit:3 %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% if year == '2014' %}
            <article>
              <p>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | truncatewords: 5, '...' | downcase }}</a>
                <time><i class="fa fa-calendar"></i> {{ post.date | date: '%d %B' }}</time>
              </p>
            </article>
          {% endif %}
        {% endfor %}

        <span class="more">
          <a href="{{ site.baseurl }}/posts/">
            <i class="fa fa-arrow-circle-right"></i>All posts...
          </a>
        </span>

      </div>
      
      <!-- Projects -->
      <div class="projects">
        <h2><a href="{{ site.baseurl }}/projects/">projects</a></h2>
        
        <article>
          <p class="name">
            <a href="{{ site.baseurl }}/moogle/">
              <img src="{{ site.baseurl }}/assets/img/projects/moogle-w.png" alt="Moogle icon">Moogle
            </a>
          </p>
        </article>

        <article>
          <p class="name">
            <a href="{{ site.baseurl }}/promptastic/">
              <img src="{{ site.baseurl }}/assets/img/projects/promptastic-w.png" alt="Promptastic icon">Promptastic
            </a>
          </p>
        </article>
    
        <article>
          <p class="name">
            <a href="{{ site.baseurl }}/docker-postgresql/">
              <img src="{{ site.baseurl }}/assets/img/projects/docker-w.png" alt="Docker-PostgreSQL icon">Docker-Postgres
            </a>
          </p>
        </article>
    
        <article>
          <p class="name">
            <a href="{{ site.baseurl }}/ansible-biostar/">
              <img src="{{ site.baseurl }}/assets/img/projects/ansible-w.png" alt="Ansible-Biostar icon">Ansible-Biostar
            </a>
          </p>
        </article>
    
        <article>
          <p class="name">
            <a href="{{ site.baseurl }}/neurostars/">
              <img src="{{ site.baseurl }}/assets/img/projects/neurostars-w.png" alt="NeuroStars icon">NeuroStars
            </a>
          </p>
        </article>

        <span class="more">
          <a href="{{ site.baseurl }}/projects/">
            <i class="fa fa-arrow-circle-right"></i>All projects...
          </a>
        </span>

      </div> <!-- .projects -->

  </div> <!-- .aside-content -->
</aside>