@import post/main

div.content-container
  header.content-header
    color: white
    background-color: $green-bg-color
    float: right
    padding: .2rem .5rem .2rem .7rem
    $corner-radius: 1rem
    -webkit-border-top-left-radius: $corner-radius
    -webkit-border-bottom-left-radius: $corner-radius
    -moz-border-radius-topleft: $corner-radius
    -moz-border-radius-bottomleft: $corner-radius
    border-top-left-radius: $corner-radius
    border-bottom-left-radius: $corner-radius

    h1
      font-family: "BritannicEF-Bold", serif
      text-transform: lowercase
      font-size: 4rem
      font-style: normal
      font-weight: 900
      line-height: 1

  div.content
    clear: both
    h1
      margin-top: 3rem
      margin-bottom: 1rem
      font-size: 2.3rem
      font-weight: 900
      letter-spacing: -.15rem
      border-bottom: none
      text-shadow: .1rem .1rem $light-gray-color