---
title:  "Posts"
excerpt: "List of all posts"
permalink: /posts/index.html
cssfile: "/assets/css/pages/allposts.css"
---

<h1><i class="fa fa-clock-o"></i> 2014</h1>
<div class="table">
  <div class="column1"></div>
  <div class="column2"></div>
  {% for post in site.posts %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% if year == '2014' %}
      <div class="row">
        <div class="cell">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </div>
        <div class="cell right">
          <time datetime="{{ post.date | date_to_xmlschema }}">
            <i class="fa fa-calendar"></i> {{ post.date | date: '%d %B' }}
          </time>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>