---
layout: base
title: "This is Paolo C."
cssfile: "/assets/css/homepage.css"
permalink: /index.html
---
<header>
  <span class="intro">THIS IS...</span>
  
  <h1>paolo c.</h1>
  
  <p>
    Software engineer.
    <a href="https://www.python.org/">Python</a> enthusiast,
    <a href="https://www.djangoproject.com/">Django</a> lover, 
    <a href="http://en.wikipedia.org/wiki/Free_and_open-source_software">FOSS</a> contributor and
    Google <a href="https://www.google-melange.com/gsoc/project/details/google/gsoc2014/nimiq/5766466041282560">GSoC participant</a>.
    Digital privacy paranoid.
    Co&#8211;author of "<a href="http://books.google.com/books?id=wDVhy9EyEAEC&lpg=PP1&pg=PA221#v=onepage&q&f=false">Security and Usability</a>", published by O'Reilly Media.
    And much <a href="#">more ...</a>
  </p>
  
  <ul class="social">
    <li>
      <a href="https://github.com/nimiq/">
        <img src="{{ site.baseurl }}/assets/img/social/github.png" alt="Follow me on GitHub">
      </a>
    </li>
    <li>
      <a href="http://www.linkedin.com/in/pcoffetti">
        <img src="{{ site.baseurl }}/assets/img/social/linkedin.png" alt="Connect with me on LinkedIN">
      </a>
    </li>
    <li>
      <div class="envelop-tooltip" onmouseover="mouseOverEnvelop(this)">
        <img src="{{ site.baseurl }}/assets/img/social/envelop.png">
        <span class="text empty"><noscript>Javascript required!</noscript></span>
      </div>
    </li>
  </ul>
</header>


<div id="content">
  
  <!-- Posts -->
  <div class="posts">
    <h2>posts</h2>

    <h3><i class="fa fa-clock-o"></i> 2014</h3>
    {% for post in site.posts %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% if year == '2014' %}
        <article>
          <p>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | downcase }}</a>
            <time><i class="fa fa-calendar"></i> {{ post.date | date: '%d %B' }}</time>
          </p>
        </article>
      {% endif %}
    {% endfor %}

<!--     <h3><i class="fa fa-clock-o"></i> 2013</h3>
    {% for post in site.posts %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% if year == '2013' %}
        <article>
          <p>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <time><i class="fa fa-calendar"></i> {{ post.date | date: '%d %B' }}</time>
          </p>
        </article>
      {% endif %}
    {% endfor %} -->

    <div class="more">
      <a href="#"><i class="fa fa-arrow-circle-right"></i>All posts...</a>
    </div>

  </div>

  <!-- Projects -->
  <div class="projects">
    <h2>projects</h2>
    
    <article>
      <p class="name">
        <a href="#">
          <img src="{{ site.baseurl }}/assets/img/projects/moogle.png" alt="Moogle icon">Moogle
        </a>
      </p>
      <p class="excerpt">This is my sentence to descrive this project</p>
    </article>

    <article>
      <p class="name">
        <a href="#">
          <img src="{{ site.baseurl }}/assets/img/projects/promptastic.png" alt="Promptastic icon">Promptastic
        </a>
      </p>
      <p class="excerpt">This is my two lines sentence to descrive this project because this
      project is really really great</p>
    </article>

    <article>
      <p class="name">
        <a href="#">
          <img src="{{ site.baseurl }}/assets/img/projects/docker.png" alt="Docker-PostgreSQL icon">Docker-PostgreSQL
        </a>
      </p>
      <p class="excerpt">This is my sentence to descrive this project</p>
    </article>

    <article>
      <p class="name">
        <a href="#">
          <img src="{{ site.baseurl }}/assets/img/projects/ansible.png" alt="Ansible-Biostar icon">Ansible-Biostar
        </a>
      </p>
      <p class="excerpt">This is my sentence to descrive this project</p>
    </article>

    <article>
      <p class="name">
        <a href="#">
          <img src="{{ site.baseurl }}/assets/img/projects/neurostars.png" alt="NeuroStars icon">NeuroStars
        </a>
      </p>
      <p class="excerpt">This is my sentence to descrive this project</p>
    </article>

    <div class="more">
      <a href="#"><i class="fa fa-arrow-circle-right"></i>All projects...</a>
    </div>

  </div>
</div>