---
layout: base
---
<div class="wrapper">

  {% include aside.html %}

  <div class="content-container">
    <header class="content-header">
      <span class="tags">
        {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% if forloop.last == false %} • {% endif %}
        {% endfor %}
      </span>
      <h1>{{ page.title }}</h1>
      <time><i class="fa fa-calendar"></i> {{ page.date | date: '%B %d, %Y' }}</time>
    </header>

    <div class="content">
      {{ content }}

      {% if page.pagination %}
        {% include post-pagination.html %}
      {% endif %}

      {% if site.disqus_shortname and page.comments %}
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>
      {% endif %}
    </div>

  </div>
</div>